.project-wrapper-left{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    gap: 32px;
    padding-left: 6%;
}

.project-wrapper-right{
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: start;
    gap: 96px;
    padding-right: 6%;
}

.project-heading-wrapper-left{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 32px;
    position: relative;
    z-index: 2;
}

.project-heading-wrapper-right{
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: center;
    gap: 32px;
    position: relative;
    z-index: 2;
}

.project-heading-left{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap:8px;
    position: relative;
    z-index: 2;
}

.project-heading-right{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    gap:8px;
    position: relative;
    z-index: 2;
}

.project-main-heading{
    font-family: Raleway, sans-serif;
    font-size: 32px;
    font-weight: 600;
    letter-spacing: 2px;
    color: white;
    margin: 0;
}

.project-main-subheading{
    font-family: Raleway, sans-serif;
    font-size: 24px;
    font-weight: 600;
    letter-spacing: 2px;
    color: darkgray;
    margin: 0;
}

.project-text-left{
    font-family: Raleway, sans-serif;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 1px;
    text-align: start;
    color: darkgray;
    margin: 0;
    position: relative;
    z-index: 2;
}

.project-text-right{
    font-family: Raleway, sans-serif;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 1px;
    text-align: end;
    color: darkgray;
    margin: 0;
    position: relative;
    z-index: 2;
}

.project-image{
    width: 60%;
    height: auto;
}

.project-tech-wrapper-left{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: start;
    gap: 8px;
    flex-wrap: wrap;
}

.project-tech-wrapper-right{
    display: flex;
    flex-direction: row-reverse;
    justify-content: end;
    align-items: end;
    gap: 8px;
    flex-wrap: wrap;
}

.project-tech-1{
    font-family: Raleway, sans-serif;
    font-size: 16px;
    padding: 6px 10px;
    color: #FF6347 ;
    background-color: rgba(255, 99, 71, 0.3);
    border-radius: 12px;
    margin: 0;
}

.project-tech-2{
    font-family: Raleway, sans-serif;
    font-size: 16px;
    padding: 6px 10px;
    color: #4682B4;
    background-color: rgba(70, 130, 180, 0.3);
    border-radius: 12px;
    margin: 0;
}


.project-tech-3{
    font-family: Raleway, sans-serif;
    font-size: 16px;
    padding: 6px 10px;
    color: #32CD32;
    background-color: rgba(50, 205, 50, 0.3);
    border-radius: 12px;
    margin: 0;
}


.project-tech-4{
    font-family: Raleway, sans-serif;
    font-size: 16px;
    padding: 6px 10px;
    color: #FFD700;
    background-color: rgba(255, 215, 0, 0.3);
    border-radius: 12px;
    margin: 0;
}

.linear-gradient-project-left{
    position: absolute;
    left: -50%;
    width: 100vh;
    height: 100vh;
    background: radial-gradient(circle at center,
    rgba(97, 4, 214, 0.15) 0%,
    rgba(97, 4, 214, 0.1) 20%,
    rgba(97, 4, 214, 0.05) 40%,
    rgba(97, 4, 214, 0) 60%,
    rgba(0, 0, 0, 0) 100%);
    filter: blur(50%);
    border-radius: 50%;
    z-index: 1;
}

.linear-gradient-project-right{
    position: absolute;
    right: -50%;
    width: 100vh;
    height: 100vh;
    background: radial-gradient(circle at center,
    rgba(97, 4, 214, 0.15) 0%,
    rgba(97, 4, 214, 0.1) 20%,
    rgba(97, 4, 214, 0.05) 40%,
    rgba(97, 4, 214, 0) 60%,
    rgba(0, 0, 0, 0) 100%);
    filter: blur(50%);
    border-radius: 50%;
    z-index: 1;
}

.project-button{
    padding: 16px 40px;
    background-color: white;
    border-radius: 32px;
    color: #0C0C0D;
    font-family: Raleway, sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 100%;
    border: 1px transparent solid;
    transition: 350ms;
    cursor: pointer;
    position: relative;
    z-index: 10;
}

.project-button:hover{
    background-color: #6e43da;
    color: white;
    border: 1px black solid;
}


@media screen and (max-width: 1000px) {

    .project-wrapper-left{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 32px;
        padding: 0 6%;
    }

    .project-wrapper-right{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 32px;
        padding: 0 6%;
    }

    .project-heading-wrapper-left{
        align-items: center;
        gap: 12px;
    }

    .project-heading-wrapper-right{
        align-items: center;
        gap: 12px;
    }

    .project-heading-left{
        align-items: center;
        gap: 4px;
    }

    .project-heading-right{
        align-items: center;
        gap: 4px;
    }

    .project-main-heading{
        font-size: 24px;
        text-align: center;
    }

    .project-main-subheading{
        font-size: 18px;
        text-align: center;
    }

    .project-text-left{
        font-size: 12px;
        text-align: center;
    }

    .project-text-right{
        font-size: 12px;
        text-align: center;
    }

    .project-image{
        width: 100%;
        height: auto;
    }

    .project-button {
        padding: 12px 20px;
        border-radius: 24px;
        font-size: 14px;
    }

    .project-image{
        width: 120%;
    }

    .project-tech-wrapper-left{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 8px;
        flex-wrap: wrap;
    }

    .project-tech-wrapper-right{
        display: flex;
        flex-direction: row-reverse;
        justify-content: center;
        align-items: center;
        gap: 8px;
        flex-wrap: wrap;
    }

    .project-tech-1{
        font-family: Raleway, sans-serif;
        font-size: 14px;
        padding: 4px 8px;
        color: #FF6347 ;
        background-color: rgba(255, 99, 71, 0.3);
        border-radius: 12px;
        margin: 0;
    }

    .project-tech-2{
        font-family: Raleway, sans-serif;
        font-size: 14px;
        padding: 4px 8px;
        color: #4682B4;
        background-color: rgba(70, 130, 180, 0.3);
        border-radius: 12px;
        margin: 0;
    }


    .project-tech-3{
        font-family: Raleway, sans-serif;
        font-size: 14px;
        padding: 4px 8px;
        color: #32CD32;
        background-color: rgba(50, 205, 50, 0.3);
        border-radius: 12px;
        margin: 0;
    }


    .project-tech-4{
        font-family: Raleway, sans-serif;
        font-size: 14px;
        padding: 4px 8px;
        color: #FFD700;
        background-color: rgba(255, 215, 0, 0.3);
        border-radius: 12px;
        margin: 0;
    }
}

