@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
*{
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

.main-body{
    width: 100vw;
    max-width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color: #0C0C0D;
}

.landing-section{
    height: 80vh;
    padding: 0 7%;
    display: flex;
    justify-content: center;
    align-content: center;
}

.landing-info-grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
}

.landing-info-image{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}

.my-image{
    width: 300px;
    height: auto;
}

.landing-experience-section{
    display: flex;
    justify-content: space-between;
    align-content: center;
    width: 100%;
    padding: 0 7%;
}

.landing-experience-info{
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: flex-start;
    gap: 24px;
    position: relative;
}

.linear-gradient-1{
    position: absolute;
    right: 0;
    width: 100vh;
    height: 100vh;
    background: radial-gradient(circle at center,
    rgba(128, 128, 128, 0.15) 0%,
    rgba(128, 128, 128, 0.1) 20%,
    rgba(128, 128, 128, 0.05) 40%,
    rgba(128, 128, 128, 0) 60%,
    rgba(0, 0, 0, 0) 100%);
    filter: blur(50%);
    border-radius: 50%;
}

.experience-text-1{
    font-family: Raleway, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 100%;
    color: #6F6F6F;
    margin: 0;
}

.experience-heading-1{
    font-family: Raleway, sans-serif;
    font-size: 80px;
    font-weight: 600;
    line-height: 100%;
    color: #FFFFFF;
    margin: 0;
}

.experience-text-2{
    font-family: Raleway, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 100%;
    color: #6F6F6F;
    margin: 0;
}

.landing-experience-cards{
    width: 60%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
}


.carousel-card-1{
    height: 25vh;
    background-color: #C3C99E;
    border-radius: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 32px;
    gap: 12px;
}

.card-image{
    width: 50px;
    height: auto;
}

.card-name{
    color: #272727;
    font-family: Raleway, sans-serif;
    font-size: 26px;
    line-height: 100%;
    font-weight: 600;
    margin: 0;
}

.carousel-card-2{
    height: 25vh;
    background-color: #7D9CA5;
    border-radius: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 32px;
    gap: 12px;
}

.carousel-card-3{
    height: 25vh;
    background-color: #C2C2C2;
    border-radius: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 32px;
    gap: 12px;
}

.carousel-card-4{
    height: 25vh;
    background-color: #C0E5D7;
    border-radius: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 32px;
    gap: 12px;
}

.carousel-card-5{
    height: 25vh;
    background-color: #61DBFB;
    border-radius: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 32px;
    gap: 12px;
}

.carousel-card-6{
    height: 25vh;
    background-color: aliceblue;
    border-radius: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 32px;
    gap: 12px;
}

.landing-links-section{
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 32px;
}

.landing-link-1{
    color: #C69AFF;
    font-family: Raleway, sans-serif;
    font-size: 60px;
    font-weight: 500;
    margin: 0;
    transition: 500ms;
}

.landing-link-1:hover{
    color: #ffffff;
    letter-spacing: 3px;
}

.landing-link-2{
    color: #9F53FF;
    font-family: Raleway, sans-serif;
    font-size: 60px;
    font-weight: 500;
    margin: 0;
    transition: 500ms;
}

.landing-link-2:hover{
    color: #ffffff;
    letter-spacing: 3px;
}

.landing-link-3{
    color: #7940C1;
    font-family: Raleway, sans-serif;
    font-size: 60px;
    font-weight: 500;
    margin: 0;
    transition: 500ms;
}

.landing-link-3:hover{
    color: #ffffff;
    letter-spacing: 3px;
}

.landing-tech-section{
    display: flex;
    flex-direction: column;
    gap: 64px;
    width: 100%;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0 7%;
    margin-bottom: 128px;
    position: relative;
}

.landing-tech-heading{
    font-family: Raleway, sans-serif;
    font-size: 50px;
    font-weight: 300;
    line-height: 100%;
    color: #C8C8C8;
}

.landing-tech-heading-span{
    font-weight: 600;
}

.landing-tech-cards{
    width: 100%;
    padding: 3%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 40px;
}

.linear-gradient-2{
    position: absolute;
    right: 0;
    width: 100vh;
    height: 100vh;
    background: radial-gradient(circle at center,
    rgba(97, 4, 214, 0.15) 0%,
    rgba(97, 4, 214, 0.1) 20%,
    rgba(97, 4, 214, 0.05) 40%,
    rgba(97, 4, 214, 0) 60%,
    rgba(0, 0, 0, 0) 100%);
    filter: blur(50%);
    border-radius: 50%;
}

@media screen and (max-width: 1450px) {
    .landing-tech-cards{
        grid-template-columns: repeat(1, 1fr);
        gap: 20px;
    }
}


@media screen and (max-width: 1100px) {

    .carousel-card-1, .carousel-card-2, .carousel-card-3, .carousel-card-4, .carousel-card-5, .carousel-card-6{
        height: 20vh;
        padding-left: 16px;
        gap: 8px;
        border-radius: 48px;
    }

    .card-name{
        font-size: 22px;
    }

    .landing-experience-cards{
        gap: 20px;
    }

}

@media screen and (max-width: 700px) {
    .my-image{
        width: 250px;
    }

    .landing-experience-section{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding: 0 7%;
        gap: 32px;
    }

    .landing-experience-info{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 24px;
        position: relative;
    }

    .experience-heading-1{
        font-size: 50px;
    }

    .landing-experience-cards{
        width: 100%;
        gap: 20px;
    }
}

@media screen and (max-width: 600px) {

    .landing-info-grid{
        display: flex;
        flex-direction: column-reverse;
        justify-content: flex-end;
        align-items: center;
        gap: 32px;
    }

    .landing-section{
        height: 100vh;
        padding: 10% 7%;
        max-width: 100vw;
        display: flex;
        justify-content: center;
        align-content: center;
    }

    .my-image{
        width: 120px;
        height: auto;
    }

    .landing-experience-cards{
        grid-template-columns: repeat(2, 1fr);
        gap: 16px;
    }

    .carousel-card-1, .carousel-card-2, .carousel-card-3, .carousel-card-4, .carousel-card-5, .carousel-card-6{
        border-radius: 40px;
    }

    .card-name{
        font-size: 20px;
    }

    .landing-links-section{
        gap: 64px;
    }

    .landing-link-1, .landing-link-2, .landing-link-3{
        font-size: 40px;
    }

    .landing-tech-heading{
        font-size: 32px;
        text-align: center;
        line-height: 130%;
    }

    .landing-tech-section{
        gap: 16px;
    }
}
