@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
*{
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

.main-body{
    width: 100vw;
    max-width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color: #0C0C0D;
}

.landing-section{
    height: 80vh;
    padding: 0 7%;
    display: flex;
    justify-content: center;
    align-content: center;
}

.landing-info-grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
}

.landing-info-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: flex-start;
    gap: 32px;
}

.name-heading-1{
    color: white;
    font-size: 75px;
    font-family: Raleway, sans-serif;
    line-height: 100%;
    letter-spacing: 2px;
    font-weight: 400;
    margin: 0;
}

.landing-info{
    color: #6F6F6F;
    font-family: Raleway, sans-serif;
    font-size: 24px;
    line-height: 200%;
    margin: 0;
    font-weight: 300;
}

.landing-info-span{
    color: white;
    font-weight: 600;
}

.landing-info-buttons{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-content: center;
    gap: 24px;
}

.cv-button{
    padding: 16px 40px;
    background-color: white;
    border-radius: 32px;
    color: #0C0C0D;
    font-family: Nunito, sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 100%;
    border: 1px transparent solid;
    transition: 350ms;
    cursor: pointer;
}

.cv-button:hover{
    background-color: transparent;
    color: white;
    border: 1px white solid;
}

.button-1{
    color: #B292FF;
    padding: 16px 40px;
    background-color: transparent;
    font-family: Nunito, sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 100%;
    border-radius: 32px;
    border: 1px transparent solid;
    transition: 350ms;
    cursor: pointer;
}

.button-1:hover{
    border: 1px #B292FF solid;
}

.landing-info-image{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}

.my-image{
    width: 300px;
    height: auto;
}

.landing-experience-section{
    display: flex;
    justify-content: space-between;
    align-content: center;
    width: 100%;
    padding: 0 7%;
}

.landing-experience-info{
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: flex-start;
    gap: 24px;
    position: relative;
}

.linear-gradient-1{
    position: absolute;
    right: 0;
    width: 100vh;
    height: 100vh;
    background: radial-gradient(circle at center,
    rgba(128, 128, 128, 0.15) 0%,
    rgba(128, 128, 128, 0.1) 20%,
    rgba(128, 128, 128, 0.05) 40%,
    rgba(128, 128, 128, 0) 60%,
    rgba(0, 0, 0, 0) 100%);
    filter: blur(50%);
    border-radius: 50%;
}

.experience-text-1{
    font-family: Raleway, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 100%;
    color: #6F6F6F;
    margin: 0;
}

.experience-heading-1{
    font-family: Raleway, sans-serif;
    font-size: 80px;
    font-weight: 600;
    line-height: 100%;
    color: #FFFFFF;
    margin: 0;
}

.experience-text-2{
    font-family: Raleway, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 100%;
    color: #6F6F6F;
    margin: 0;
}

.landing-experience-cards{
    width: 60%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
}


.carousel-card-1{
    height: 25vh;
    background-color: #C3C99E;
    border-radius: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 32px;
    gap: 12px;
}

.card-image{
    width: 50px;
    height: auto;
}

.card-name{
    color: #272727;
    font-family: Raleway, sans-serif;
    font-size: 26px;
    line-height: 100%;
    font-weight: 600;
    margin: 0;
}

.carousel-card-2{
    height: 25vh;
    background-color: #7D9CA5;
    border-radius: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 32px;
    gap: 12px;
}

.carousel-card-3{
    height: 25vh;
    background-color: #C2C2C2;
    border-radius: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 32px;
    gap: 12px;
}

.carousel-card-4{
    height: 25vh;
    background-color: #C0E5D7;
    border-radius: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 32px;
    gap: 12px;
}

.carousel-card-5{
    height: 25vh;
    background-color: #000000;
    border-radius: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 32px;
    gap: 12px;
}

.carousel-card-6{
    height: 25vh;
    background-color: aliceblue;
    border-radius: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 32px;
    gap: 12px;
}

.landing-links-section{
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 32px;
}

.landing-link-1{
    color: #C69AFF;
    font-family: Raleway, sans-serif;
    font-size: 60px;
    font-weight: 500;
    margin: 0;
    transition: 500ms;
}

.landing-link-1:hover{
    color: #ffffff;
    letter-spacing: 3px;
}

.landing-link-2{
    color: #9F53FF;
    font-family: Raleway, sans-serif;
    font-size: 60px;
    font-weight: 500;
    margin: 0;
    transition: 500ms;
}

.landing-link-2:hover{
    color: #ffffff;
    letter-spacing: 3px;
}

.landing-link-3{
    color: #6104D6;
    font-family: Raleway, sans-serif;
    font-size: 60px;
    font-weight: 500;
    margin: 0;
    transition: 500ms;
}

.landing-link-3:hover{
    color: #ffffff;
    letter-spacing: 3px;
}

.landing-tech-section{
    display: flex;
    flex-direction: column;
    gap: 64px;
    width: 100%;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0 7%;
    margin-bottom: 128px;
}

.landing-tech-heading{
    font-family: Raleway, sans-serif;
    font-size: 50px;
    font-weight: 300;
    line-height: 100%;
    color: #C8C8C8;
}

.landing-tech-heading-span{
    font-weight: 600;
}

.landing-tech-cards{
    width: 100%;
    padding: 3%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 40px;
}