.form-wrapper{
    width: 100%;
    padding: 0 6%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 32px;
    margin-bottom: 128px;
}

.form-heading{
    font-family: Raleway, sans-serif;
    font-size: 50px;
    font-weight: 500;
    letter-spacing: 2px;
    color: white;
}

.form{
    width: 100%;
    max-width: 700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

.form-input{
    width: 70%;
    background-color: transparent;
    border: 0 transparent;
    border-bottom: 1px solid grey;
    transition:  0.3s ease;
    color: white;
    font-family: Raleway, sans-serif;
    font-size: 16px;
    letter-spacing: 2px;
    font-weight: 500;
    line-height: 100%;
    padding: 8px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-input::placeholder {
    color: grey;
    transition: 350ms;
    width: 100%;
    text-align: center;
}

.form-input:focus{
    width: 100%;
    outline: none;
    border-bottom: 2px solid white;
    color: white;
}

.form-input:focus::placeholder {
    color: transparent;
}

.form-textarea {
    width: 70%;
    height: auto;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid gray;
    transition: 0.3s ease;
    color: white;
    font-family: Raleway, sans-serif;
    font-size: 16px;
    letter-spacing: 2px;
    font-weight: 500;
    line-height: 100%;
    resize: vertical;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-textarea:focus {
    width: 100%;
    outline: none;
    border-bottom: 2px solid white !important;
}

.form-textarea::placeholder {
    color: gray;
    transition: color 0.3s ease;
    position: absolute;
    bottom: 8px;
    left: 0;
    width: 100%;
    text-align: center;
}

.form-textarea:focus::placeholder {
    color: transparent;
}

.form-button {
    padding: 0;
    margin: 0;
    border: none;
    background: none;
    cursor: pointer;
    letter-spacing: 2px;
}

.form-button {
    --primary-color: grey;
    --hovered-color: #ffffff;
    position: relative;
    display: flex;
    font-weight: 600;
    font-size: 20px;
    gap: 0.5rem;
    align-items: center;
    margin-top: 24px;
}

.form-button p {
    margin: 0;
    position: relative;
    font-size: 20px;
    color: var(--primary-color);
}

.form-button::after {
    position: absolute;
    content: "";
    width: 0;
    left: 0;
    bottom: -7px;
    background: var(--hovered-color);
    height: 2px;
    transition: 0.3s ease-out;
}

.form-button p::before {
    position: absolute;
    /*   box-sizing: border-box; */
    content: "Send!";
    width: 0;
    inset: 0;
    color: var(--hovered-color);
    overflow: hidden;
    transition: 0.3s ease-out;
}

.form-button:hover::after {
    width: 100%;
}

.form-button:hover p::before {
    width: 100%;
}

.form-button:hover svg {
    transform: translateX(4px);
    color: var(--hovered-color);
}

.form-button svg {
    color: var(--primary-color);
    transition: 0.2s;
    position: relative;
    width: 15px;
    transition-delay: 0.2s;
}

@media screen and (max-width: 600px) {
    .form-wrapper{
        justify-content: center;
        align-items: center;
        gap: 24px;
    }

    .form-heading{
        text-align: center;
    }

    .form-input {
        width: 100%;
    }

    .form-textarea{
        width: 100%;
    }

}




